<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <!--<add key="direccionBaseDatos" value="10.115.14.2"/>
    <add key="puertoBaseDatos" value="3306"/>
    <add key="usuarioBaseDatos" value="edavila"/>
    <add key="passwordBaseDatos" value="chuchitos"/>
    <add key="esquemaBaseDatos" value="asegna"/>-->
    <add key="direccionSalidaMensajes" value="app-buzon@mapfre.com.gt"/>
    <!--<add key="direccionSalidaMensajes" value="10.254.221.216"/>-->
    <!--<add key="passwordDireccionSalidaMensajes" value=""/>-->
    <add key="passwordDireccionSalidaMensajes" value="Mapfre2014"/>
    <add key="servidorCorreo" value="10.254.221.244"/>
    <!--<add key="servidorCorreo" value="10.254.221.216"/>-->
    <add key="PolizaSeguroCompleto" value="AUPF"/>
    <add key="PolizaRC" value="AUC"/>
    <add key="NumeroPolizaSeguroCompleto" value="1"/>
    <add key="PolizaRCNumero" value="1"/>
    <add key="UsuarioCobro" value="ACSEL_WEB"/>
    <add key="CodigoEntidadFinanciera" value="000208"/>
    <add key="correoOrigen" value="atencion_web@mapfre.com.gt"/>
    <!--LINK CREACION USUARIO PRODUCCION-->
    <add key="LinkCreacionUsuario" value="http://app2.mapfre.com.gt/CotizadorWeb/Acceso/AsignarNuevaClave.aspx?userId="/>
    <!--LINK CREACION USUARIO PRUEBAS-->
    <!--<add key="LinkCreacionUsuario" value="http://app2.mapfre.com.gt/CotizadorWeb_PRUEBAS/Acceso/AsignarNuevaClave.aspx?userId="/>-->
    <!--IP PARA REIMPRESION DE POLIZAS PRODUCCION-->
    <add key="IpReimpresionPoliza" value="\\10.115.10.5\\docs_emi\\"/> 
    <!--IP PARA REIMPRESION DE POLIZAS PRUEBAS-->
    <!--<add key="IpReimpresionPoliza" value="\\10.161.183.6\\docweb\\"/>--> 
  </appSettings>
  <connectionStrings>
    <!--DATOS PARA CONEXION DE COTIZADOR WEB (MYSQL)-->
    <!--<add name="ConexionMysql" connectionString="Data Source=10.115.14.4;port=3306;Initial Catalog=pruebas_cotizador_web_autos;User Id=PBCotWebAut;password=Mapfre_2016" />-->
    <add name="ConexionMysql" connectionString="Data Source=10.115.14.4;port=3306;Initial Catalog=produccion_cotizador_mapfre_2016;User Id=PBCotWebAut;password=Mapfre_2016" />
    <!--DATOS PARA CONEXION SISTEMA ACSELX (ORACLE)-->
    <!--<add name="ConexionOracleAcsel" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.161.183.6)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME = Mapfreppd)));User Id=acsel_web;Password=agosto2012;" providerName="Oracle.DataAccess"/>-->
    <add name="ConexionOracleAcsel" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.115.10.67)(PORT=2126)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME = acsel)));User Id=acsel_web;Password=agosto2012;" providerName="Oracle.DataAccess"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">


      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICOBRO_TC_POS" />
        <binding name="BasicHttpsBinding_ICOBRO_TC_POS">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>      
      <endpoint address="https://app2.mapfre.com.gt/CobroEnLineaTest/COBRO_TC_POS.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICOBRO_TC_POS"
        contract="WSCobroEnLineaMAPFRE.ICOBRO_TC_POS" name="BasicHttpsBinding_ICOBRO_TC_POS" />
    </client>
  </system.serviceModel>
</configuration>